[{:db/id #db/id [:db.part/db]
  :db/ident :todo/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The title of the todo"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :todo/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The description of a todo"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :todo/completed?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "The completion status of a todo"
  :db.install/_attribute :db.part/db}]
